### Package Python

In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import os as os

### Reading of bases

In [2]:
_path = os.getcwd()
_path

'c:\\git\\Gol_Cases'

In [3]:
_path = os.path.join(_path, 'data', 'Case Analytics-DS.xlsx')
_path

'c:\\git\\Gol_Cases\\data\\Case Analytics-DS.xlsx'

In [4]:
_df = pd.read_excel(io=_path, sheet_name='Dados')
_df.head(2)

  Data Venda Canal de Venda Local de Venda  PAX  Monetário Vendido   RPK
0 2016-11-01      Telégrafo      Mindscape   30        2188.109487  3476
1 2016-11-01      TeleVenda          Arena   52        3302.375951  8197

In [5]:
_df.describe()

               PAX  Monetário Vendido            RPK
count  2432.000000        2432.000000    2432.000000
mean    723.002878       24638.740498   66738.389391
std     735.936451       22424.842904   83479.039478
min      18.000000        1041.544400    1127.000000
25%     100.000000        6122.920492   11372.000000
50%     395.500000       17755.421730   33361.500000
75%    1160.250000       35535.323991   95116.750000
max    4705.000000      144890.731053  695824.000000

In [6]:
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2432 entries, 0 to 2431
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data Venda         2432 non-null   datetime64[ns]
 1   Canal de Venda     2432 non-null   object
 2   Local de Venda     2432 non-null   object
 3   PAX                2432 non-null   int64
 4   Monetário Vendido  2432 non-null   float64
 5   RPK                2432 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 114.1+ KB

In [7]:
_df.dtypes

Data Venda           datetime64[ns]
Canal de Venda               object
Local de Venda               object
PAX                           int64
Monetário Vendido           float64
RPK                           int64
dtype: object

* Checking values nan or nulls

In [8]:
_df.isna().sum()

Data Venda           0
Canal de Venda       0
Local de Venda       0
PAX                  0
Monetário Vendido    0
RPK                  0
dtype: int64

In [9]:
_df.isnull().sum()

Data Venda           0
Canal de Venda       0
Local de Venda       0
PAX                  0
Monetário Vendido    0
RPK                  0
dtype: int64

In [10]:
_df.shape

(2432, 6)

* PAX é o total de passageiros. 
* RPK (Revenue Passenger‐Kilometers) é um indicador diretamente relacionada com o número de PAX.  $ {RPK} = {PAX } * {KM} $

In [11]:
_df = _df.dropna()
_df.head(5)

  Data Venda Canal de Venda Local de Venda  PAX  Monetário Vendido    RPK
0 2016-11-01      Telégrafo      Mindscape   30        2188.109487   3476
1 2016-11-01      TeleVenda          Arena   52        3302.375951   8197
2 2016-11-01      TeleVenda      Mindscape   19        1041.544400   2425
3 2016-11-01  Porta a Porta      Mindscape  496       15566.340547  53278
4 2016-11-01      TeleVenda           Vast   46        2721.427289   2039

* Adding km

In [12]:
_df['km'] = _df['RPK'] / _df['PAX']

1. Faça um ranking para o número total de PAX por dia da semana.

In [13]:
_ranking = _df.groupby(['Data Venda'])['PAX'].sum().reset_index()
_ranking = _ranking.sort_values('PAX').reset_index(drop=True)
_ranking['Ranking'] = _ranking.index
_ranking

    Data Venda    PAX  Ranking
0   2016-11-01   4538        0
1   2017-01-16   5751        1
2   2017-02-13   6127        2
3   2017-01-17   6197        3
4   2017-02-14   6298        4
..         ...    ...      ...
147 2017-02-06  23444      147
148 2017-01-10  23460      148
149 2017-01-11  24298      149
150 2016-11-14  24551      150
151 2017-01-09  26247      151

[152 rows x 3 columns]

* Shoing the 5 first and lasts PAX of Ranking.

In [14]:
_ranking.head(5)

  Data Venda   PAX  Ranking
0 2016-11-01  4538        0
1 2017-01-16  5751        1
2 2017-02-13  6127        2
3 2017-01-17  6197        3
4 2017-02-14  6298        4

In [15]:
_ranking.tail(5)

    Data Venda    PAX  Ranking
147 2017-02-06  23444      147
148 2017-01-10  23460      148
149 2017-01-11  24298      149
150 2016-11-14  24551      150
151 2017-01-09  26247      151

* Sum of total of pax

In [16]:
_df['PAX'].sum()

1758343

In [17]:
_ranking['PAX'].sum()

1758343

In [18]:
_df['RPK'].sum()

162307763

2. Qual a correlação de sábado e domingo somados com o total de RPK?

In [19]:
from datetime import date

def find_day(year,  month, day):

    DIAS = [
        'Segunda-feira',
        'Terça-feira',
        'Quarta-feira',
        'Quinta-Feira',
        'Sexta-feira',
        'Sábado',
        'Domingo'
    ]

    data = date(year=year,  month=month, day=day)
    # print(data)

    indice_da_semana = data.weekday()
    # print(indice_da_semana)

    dia_da_semana = DIAS[indice_da_semana]
    # print(dia_da_semana)
    return dia_da_semana

In [20]:
_df['Data Venda Str'] = _df['Data Venda'].astype(str)
_df.head(5)

,Data Venda,Canal de Venda,Local de Venda,PAX,Monetário Vendido,RPK,km,Data Venda Str
0,2016-11-01,Telégrafo,Mindscape,30,2188.109487,3476,115.866667,2016-11-01
1,2016-11-01,TeleVenda,Arena,52,3302.375951,8197,157.634615,2016-11-01
2,2016-11-01,TeleVenda,Mindscape,19,1041.544400,2425,127.631579,2016-11-01
3,2016-11-01,Porta a Porta,Mindscape,496,15566.340547,53278,107.415323,2016-11-01
4,2016-11-01,TeleVenda,Vast,46,2721.427289,2039,44.326087,2016-11-01

In [21]:
_df['Data Venda Str'].str.split('-', expand=True)

         0   1   2
0     2016  11  01
1     2016  11  01
2     2016  11  01
3     2016  11  01
4     2016  11  01
...    ...  ..  ..
2427  2017  04  01
2428  2017  04  01
2429  2017  04  01
2430  2017  04  01
2431  2017  04  01

[2432 rows x 3 columns]

In [22]:
_df['year'] = _df['Data Venda Str'].str.split('-', expand=True)[0]
_df['month'] = _df['Data Venda Str'].str.split('-', expand=True)[1]
_df['day'] = _df['Data Venda Str'].str.split('-', expand=True)[2]

In [23]:
_df.head()

,Data Venda,Canal de Venda,Local de Venda,PAX,Monetário Vendido,RPK,km,Data Venda Str,year,month,day
0,2016-11-01,Telégrafo,Mindscape,30,2188.109487,3476,115.866667,2016-11-01,2016,11,01
1,2016-11-01,TeleVenda,Arena,52,3302.375951,8197,157.634615,2016-11-01,2016,11,01
2,2016-11-01,TeleVenda,Mindscape,19,1041.544400,2425,127.631579,2016-11-01,2016,11,01
3,2016-11-01,Porta a Porta,Mindscape,496,15566.340547,53278,107.415323,2016-11-01,2016,11,01
4,2016-11-01,TeleVenda,Vast,46,2721.427289,2039,44.326087,2016-11-01,2016,11,01

In [24]:
_df['dias'] = _df.apply( lambda x: find_day(int(x['year']), int(x['month']), int(x['day'])), axis=1 )

In [25]:
_df.head(50)

,Data Venda,Canal de Venda,Local de Venda,PAX,Monetário Vendido,RPK,km,Data Venda Str,year,month,day,dias
0,2016-11-01,Telégrafo,Mindscape,30,2188.109487,3476,115.866667,2016-11-01,2016,11,01,Terça-feira
1,2016-11-01,TeleVenda,Arena,52,3302.375951,8197,157.634615,2016-11-01,2016,11,01,Terça-feira
2,2016-11-01,TeleVenda,Mindscape,19,1041.544400,2425,127.631579,2016-11-01,2016,11,01,Terça-feira
3,2016-11-01,Porta a Porta,Mindscape,496,15566.340547,53278,107.415323,2016-11-01,2016,11,01,Terça-feira
4,2016-11-01,TeleVenda,Vast,46,2721.427289,2039,44.326087,2016-11-01,2016,11,01,Terça-feira
5,2016-11-01,TeleVenda,Arena,485,19002.649824,66096,136.280412,2016-11-01,2016,11,01,Terça-feira
6,2016-11-01,TeleVenda,Vast,701,11588.271344,30866,44.031384,2016-11-01,2016,11,01,Terça-feira
7,2016-11-01,Telégrafo,Arena,39,3538.393295,5471,140.282051,2016-11-01,2016,11,01,Terça-feira
8,2016-11-01,TeleVenda,Ellipsis,44,2277.585505,2788,63.363636,2016-11-01,2016,11,01,Terça-feira
9,2016-11-01,Porta a Porta,Vast,910,14451.803370,40112,44.079121,2016-11-01,2016,11,01,Terça-feira
10,2016-11-01,Telégrafo,Ellipsis,18,1187.121138,1127,62.611111,2016-11-01,2016,11,01,Terça-feira
11,2016-11-01,TeleVenda,Mindscape,425,12875.537138,48274,113.585882,2016-11-01,2016,11,01,Terça-feira
12,2016-11-01,Porta a Porta,Ellipsis,383,9065.617291,20355,53.146214,2016-11-01,2016,11,01,Terça-feira
13,2016-11-01,Telégrafo,Vast,47,3244.382635,2055,43.723404,2016-11-01,2016,11,01,Terça-feira
14,2016-11-01,TeleVenda,Ellipsis,406,9846.590575,22846,56.270936,2016-11-01,2016,11,01,Terça-feira
15,2016-11-01,Porta a Porta,Arena,437,18994.865877,58074,132.892449,2016-11-01,2016,11,01,Terça-feira
16,2016-11-02,TeleVenda,Ellipsis,1007,29177.233024,54696,54.315789,2016-11-02,2016,11,02,Quarta-feira
17,2016-11-02,Porta a Porta,Arena,900,42869.439284,119470,132.744444,2016-11-02,2016,11,02,Quarta-feira
18,2016-11-02,TeleVenda,Mindscape,1029,39705.820891,122484,119.032070,2016-11-02,2016,11,02,Quarta-feira
19,2016-11-02,TeleVenda,Arena,166,11210.853141,25105,151.234940,2016-11-02,2016,11,02,Quarta-feira
20,2016-11-02,Porta a Porta,Vast,1451,28139.791984,63743,43.930393,2016-11-02,2016,11,02,Quarta-feira
21,2016-11-02,Telégrafo,Vast,70,4766.677333,3312,47.314286,2016-11-02,2016,11,02,Quarta-feira
22,2016-11-02,Porta a Porta,Ellipsis,757,20897.438732,41533,54.865258,2016-11-02,2016,11,02,Quarta-feira
23,2016-11-02,Telégrafo,Ellipsis,65,4097.487588,3679,56.600000,2016-11-02,2016,11,02,Quarta-feira
24,2016-11-02,TeleVenda,Arena,1397,60879.213113,194489,139.219041,2016-11-02,2016,11,02,Quarta-feira
25,2016-11-02,Telégrafo,Mindscape,79,7312.083598,10169,128.721519,2016-11-02,2016,11,02,Quarta-feira
26,2016-11-02,TeleVenda,Vast,178,10462.444496,8409,47.241573,2016-11-02,2016,11,02,Quarta-feira
27,2016-11-02,Telégrafo,Arena,105,7222.100806,14970,142.571429,2016-11-02,2016,11,02,Quarta-feira
28,2016-11-02,TeleVenda,Ellipsis,147,9058.084044,9326,63.442177,2016-11-02,2016,11,02,Quarta-feira
29,2016-11-02,Porta a Porta,Mindscape,778,28082.068824,87943,113.037275,2016-11-02,2016,11,02,Quarta-feira
30,2016-11-02,TeleVenda,Vast,1526,34605.490838,68615,44.963958,2016-11-02,2016,11,02,Quarta-feira
31,2016-11-02,TeleVenda,Mindscape,75,4606.265000,9320,124.266667,2016-11-02,2016,11,02,Quarta-feira
32,2016-11-03,Telégrafo,Arena,133,9497.264587,19555,147.030075,2016-11-03,2016,11,03,Quinta-Feira
33,2016-11-03,TeleVenda,Arena,1853,81680.521220,265375,143.213708,2016-11-03,2016,11,03,Quinta-Feira
34,2016-11-03,Telégrafo,Mindscape,83,6103.501059,10207,122.975904,2016-11-03,2016,11,03,Quinta-Feira
35,2016-11-03,Porta a Porta,Mindscape,987,38006.292802,115339,116.858156,2016-11-03,2016,11,03,Quinta-Feira
36,2016-11-03,TeleVenda,Mindscape,116,7124.929392,14900,128.448276,2016-11-03,2016,11,03,Quinta-Feira
37,2016-11-03,Porta a Porta,Arena,1071,50346.682435,147561,137.778711,2016-11-03,2016,11,03,Quinta-Feira
38,2016-11-03,Telégrafo,Vast,103,9951.655842,4291,41.660194,2016-11-03,2016,11,03,Quinta-Feira
39,2016-11-03,Telégrafo,Ellipsis,62,4731.809480,3853,62.145161,2016-11-03,2016,11,03,Quinta-Feira
40,2016-11-03,TeleVenda,Ellipsis,196,11203.453528,12031,61.382653,2016-11-03,2016,11,03,Quinta-Feira
41,2016-11-03,TeleVenda,Vast,1590,42061.289579,73115,45.984277,2016-11-03,2016,11,03,Quinta-Feira
42,2016-11-03,Porta a Porta,Ellipsis,907,25287.191513,50452,55.625138,2016-11-03,2016,11,03,Quinta-Feira
43,2016-11-03,TeleVenda,Mindscape,1323,53584.289791,161499,122.070295,2016-11-03,2016,11,03,Quinta-Feira
44,2016-11-03,TeleVenda,Vast,241,13937.545150,11363,47.149378,2016-11-03,2016,11,03,Quinta-Feira
45,2016-11-03,TeleVenda,Arena,225,15123.174822,35136,156.160000,2016-11-03,2016,11,03,Quinta-Feira
46,2016-11-03,Porta a Porta,Vast,1236,28653.788715,54957,44.463592,2016-11-03,2016,11,03,Quinta-Feira
47,2016-11-03,TeleVenda,Ellipsis,1290,38648.560895,72082,55.877519,2016-11-03,2016,11,03,Quinta-Feira
48,2016-11-04,TeleVenda,Arena,230,17169.351627,35959,156.343478,2016-11-04,2016,11,04,Sexta-feira
49,2016-11-04,Telégrafo,Mindscape,63,4058.276444,7881,125.095238,2016-11-04,2016,11,04,Sexta-feira

In [26]:
_corr = _df[(_df['dias']=='Sábado') | (_df['dias']=='Domingo')]
_corr

,Data Venda,Canal de Venda,Local de Venda,PAX,Monetário Vendido,RPK,km,Data Venda Str,year,month,day,dias
64,2016-11-05,TeleVenda,Mindscape,1378,60813.490656,164710,119.528302,2016-11-05,2016,11,05,Sábado
65,2016-11-05,Telégrafo,Ellipsis,42,2695.438460,2399,57.119048,2016-11-05,2016,11,05,Sábado
66,2016-11-05,TeleVenda,Arena,206,15726.530904,32153,156.082524,2016-11-05,2016,11,05,Sábado
67,2016-11-05,Porta a Porta,Vast,1314,30005.759983,61962,47.155251,2016-11-05,2016,11,05,Sábado
68,2016-11-05,Porta a Porta,Mindscape,877,34594.723120,98153,111.919042,2016-11-05,2016,11,05,Sábado
...,...,...,...,...,...,...,...,...,...,...,...,...
2427,2017-04-01,Porta a Porta,Vast,1079,28486.396741,54551,50.556997,2017-04-01,2017,04,01,Sábado
2428,2017-04-01,Porta a Porta,Ellipsis,841,23600.998318,46988,55.871581,2017-04-01,2017,04,01,Sábado
2429,2017-04-01,TeleVenda,Arena,175,10270.292519,26599,151.994286,2017-04-01,2017,04,01,Sábado
2430,2017-04-01,Telégrafo,Arena,105,5470.410450,15130,144.095238,2017-04-01,2017,04,01,Sábado
2431,2017-04-01,Telégrafo,Vast,61,2911.981488,3050,50.000000,2017-04-01,2017,04,01,Sábado

In [27]:
_corr.shape

(688, 12)

In [28]:
_corr['RPK'].describe()

count       688.000000
mean      66264.930233
std       77345.549978
min        1671.000000
25%       12829.750000
50%       31592.500000
75%       95087.500000
max      474353.000000
Name: RPK, dtype: float64

3. Qual a média de ‘Monetário’ por mês por Canal? E a mediana?

In [29]:
_df_sum_channels = _df.groupby(['Data Venda', 'Canal de Venda'])['Monetário Vendido'].sum().reset_index()
_df_sum_channels = _df_sum_channels.sort_values(['Monetário Vendido']).reset_index(drop=True).rename(columns={'Monetário Vendido':'Soma Monetário Vendido'})
_df_sum_channels

    Data Venda Canal de Venda  Soma Monetário Vendido
0   2017-02-14      Telégrafo             7500.944465
1   2017-03-07      Telégrafo             9887.166630
2   2016-11-01      Telégrafo            10158.006555
3   2016-12-29      Telégrafo            10405.957828
4   2017-01-31      Telégrafo            10664.869419
..         ...            ...                     ...
451 2017-02-08      TeleVenda           349715.586496
452 2017-02-05      TeleVenda           358595.468696
453 2017-01-18      TeleVenda           365814.443628
454 2017-02-18      TeleVenda           374294.488479
455 2017-01-11      TeleVenda           433647.486098

[456 rows x 3 columns]

In [30]:
_df_mean_channels = _df.groupby(['Data Venda', 'Canal de Venda'])['Monetário Vendido'].mean().reset_index()
_df_mean_channels = _df_mean_channels.sort_values(['Monetário Vendido']).reset_index(drop=True).rename(columns={'Monetário Vendido':'Média Monetário Vendido'})
_df_mean_channels

    Data Venda Canal de Venda  Média Monetário Vendido
0   2017-02-14      Telégrafo              1875.236116
1   2017-03-07      Telégrafo              2471.791657
2   2016-11-01      Telégrafo              2539.501639
3   2016-12-29      Telégrafo              2601.489457
4   2017-01-31      Telégrafo              2666.217355
..         ...            ...                      ...
451 2017-02-07  Porta a Porta             57817.974229
452 2016-12-12  Porta a Porta             60264.692703
453 2016-11-15  Porta a Porta             61025.684473
454 2017-02-06  Porta a Porta             62582.661791
455 2016-11-14  Porta a Porta             82225.661478

[456 rows x 3 columns]

In [31]:
_df_median_channels = _df.groupby(['Data Venda', 'Canal de Venda'])['Monetário Vendido'].median().reset_index()
_df_median_channels = _df_median_channels.sort_values('Monetário Vendido').reset_index(drop=True).rename(columns={'Monetário Vendido':'Mediana Monetário Vendido'})
_df_median_channels

    Data Venda Canal de Venda  Mediana Monetário Vendido
0   2017-02-14      Telégrafo                1855.066440
1   2016-11-29      Telégrafo                1927.050453
2   2017-01-24      Telégrafo                1952.403237
3   2017-03-07      Telégrafo                2131.861597
4   2016-11-22      Telégrafo                2291.569788
..         ...            ...                        ...
451 2017-01-10  Porta a Porta               54620.850069
452 2017-02-07  Porta a Porta               54622.131114
453 2017-02-06  Porta a Porta               54958.440086
454 2016-11-15  Porta a Porta               56412.237777
455 2016-11-14  Porta a Porta               71461.353773

[456 rows x 3 columns]