### Package Python

In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import os as os

### Reading of bases

In [4]:
_path = os.getcwd()
_path

'c:\\git\\Gol_Cases'

In [14]:
_path1 = os.path.join(_path, 'data', 'basica2022-01.txt')
_path1

'c:\\git\\Gol_Cases\\data\\basica2022-01.txt'

In [18]:
_df_basic = pd.read_csv(_path1, sep=';', encoding='latin1')
_df_basic.head(2)

C:\Users\conta\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (8,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_basica,id_empresa,sg_empresa_icao,sg_empresa_iata,nm_empresa,nm_pais,ds_tipo_empresa,nr_voo,nr_singular,id_di,...,nr_bagagem_paga_km,nr_bagagem_gratis_km,nr_ask,nr_rpk,nr_atk,nr_rtk,id_arquivo,nm_arquivo,nr_linha,dt_sistema
0,22675635,1000358,AVA,AV,AEROVIAS DEL CONTINENTE AMERICANO S.A. AVIANCA,COLÔMBIA,ESTRANGEIRA REGULAR,85,A01,3,...,0,0,650400,650400,76313,59182,17799,AVA202201.txt,121.0,2022-02-11 00:49:00
1,22675634,1000358,AVA,AV,AEROVIAS DEL CONTINENTE AMERICANO S.A. AVIANCA,COLÔMBIA,ESTRANGEIRA REGULAR,249,A04,3,...,0,0,520320,394576,66340,38807,17799,AVA202201.txt,82.0,2022-02-11 00:49:00